<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Charts</title>
    <!-- Include Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>
</head>
<body>
    <h1>Bar Chart</h1>
    <div id="barChart"></div>

    <h1>Pie Chart</h1>
    <div id="pieChart"></div>

<!--        <h1>Line Chart</h1>-->
<!--    <div id="lineChart"></div>-->

<!--    <h2>Select Model:</h2>-->
<!--    <select id="modelDropdown">-->
<!--        &lt;!&ndash; Add options for Tesla models &ndash;&gt;-->
<!--        <option value="MODEL 3">MODEL 3</option>-->
<!--        <option value="MODEL Y">MODEL Y</option>-->
<!--        &lt;!&ndash; Add more options for other Tesla models as needed &ndash;&gt;-->
<!--    </select>-->
<div id='map' class='choropleth'>
    <h3>Number of Electric Car by County</h3>
    </div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src = 'static/script.js'></script>
</body>
</html>

